body {
    background: #4d91ff;
    color: white;
    background-image: url('ramadan-kareem-mubarak_1112477-49.avif');
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: contain;
}
.link{
    color: red;
}

.box {
    /* background-color: brown; */
    text-align: center;
}

.btns button {
    margin: 100px 0px 0px 0px;
}

.btns {
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
    align-items: end;

}

#increaseScoreButton {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(16, 172, 16);
}

#resetBonusScoreButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    background-color: red;
}

.score1 {
    background-color: rgba(17, 249, 0, 0.505);
}

#bonusScore {
    font-size: 100px;
}